In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\avsmu\Downloads\Data Science Project\car_prices_jordan.csv")

In [3]:
dataset.shape

(366, 5)

In [4]:
dataset.columns

Index(['Unnamed: 0', 'Model', 'Property', 'Power', 'Price'], dtype='object')

In [5]:
dataset.head()

   Unnamed: 0                   Model   Property    Power   Price
0           0             Byd F0 2018     Manual  1000 CC   6,900
1           1        Suzuki Alto 2023     manual   800 CC   8,250
2           2     Suzuki Celerio 2019  Automatic  1000 CC  10,499
3           3     Changan E Star 2023  Automatic     0 CC  10,990
4           4  Hyundai Grand i10 2020  Automatic  1250 CC  11,500

In [6]:
dataset.drop(["Unnamed: 0", "Model"], axis=1, inplace = True)

In [7]:
dataset.head()

    Property    Power   Price
0     Manual  1000 CC   6,900
1     manual   800 CC   8,250
2  Automatic  1000 CC  10,499
3  Automatic     0 CC  10,990
4  Automatic  1250 CC  11,500

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Property  366 non-null    object
 1   Power     366 non-null    object
 2   Price     366 non-null    object
dtypes: object(3)
memory usage: 8.7+ KB

In [9]:
dataset.nunique()

Property    191
Power        38
Price       220
dtype: int64

In [10]:
dataset.value_counts()

Property                    Power           Price
Automatic / Full option     1500 CC\nTurbo  25,900     2
Automatic / Mild-HYBRID     2000 CC         25,900     2
Automatic / COM             1500 CC\nTurbo  23,500     2
Automatic                   0 CC            27,500     2
Automatic / Electric        0 CC            22,900     2
                                                      ..
Automatic / Allure          1600 CC         16,500     1
                            0 CC            28,500     1
Automatic / Adventure 4WD   2000 CC\nTurbo  36,000     1
Automatic / Active          0 CC            26,500     1
manual / Turbo S Cabriolet  3800 CC\nTurbo  163,000    1
Length: 358, dtype: int64

In [11]:
dataset["Property"].unique()

array(['Manual', 'manual', 'Automatic', 'manual / MT', 'Automatic / GLX',
       'Automatic / Comfort', 'Automatic / full option',
       'Automatic / STD', 'Automatic / GL', 'Automatic / E2',
       'Automatic / Allure', 'Automatic / DT', 'Automatic / E 1',
       'Automatic / Full option', 'Automatic / AT', 'Automatic / DX',
       'Automatic / B2', 'Automatic / Liftback', 'Automatic / GS',
       'Automatic / Trend', 'Automatic / Basic', 'Automatic / MPI',
       'Automatic / S', 'Automatic / basic', 'Automatic / LT',
       'Automatic / PLUS', 'Automatic / SL', 'Automatic / 2WD',
       'Automatic / Fleet', 'Automatic / Electric', 'Automatic / DEL',
       'Automatic / Mid', 'Automatic / Premier', 'Automatic / SV',
       'Automatic / Mild-HYBRID', 'Automatic / Qin Pro',
       'Automatic / COM', 'Automatic / Top', 'Automatic / 40kWh',
       'Automatic / Y', 'Automatic / Max Hybrid', 'Automatic / Hybrid',
       'Automatic / Trophy', 'Automatic / LS', 'manual / CSF 4WD 6MT',
       'Automatic / EV LUX', 'Automatic / Low', 'Automatic / SPORT',
       'Automatic / STD Plus', 'Automatic / Active',
       'Automatic / GT Line', 'Automatic / Full Option',
       'Automatic / GX Hybrid', 'Automatic / Premium',
       'Automatic / COM Plus', 'Automatic / premier',
       'Automatic / Deluxe', 'Automatic / SE', 'Automatic / GM2',
       'Automatic / plus', 'Automatic / Sportero', 'Automatic / GT',
       'Automatic / DEL Plus', 'Automatic /', 'Automatic / LX',
       'Automatic / High', 'Automatic / LUX', 'Automatic / TFSI',
       'Automatic / COPE', 'Automatic / STD AWD', 'Automatic / EX-L',
       'Automatic / SE 2WD', 'Automatic / GDI sport',
       'Automatic / Adventure 4WD', 'Automatic / MID',
       'Automatic / hybrid 2', 'Automatic / S off-Road',
       'Automatic / T5 FWD Momentum', 'Automatic / Base',
       'Automatic / Dignity', 'Automatic / TOP',
       'Automatic / Titanium 2WD', 'Automatic / Sport',
       'Automatic / S 4wd', 'Automatic / T', 'Automatic / LE HEV',
       'Automatic / Black', 'Automatic / AWD', 'Automatic / GLE HEV 4X4',
       'Automatic / RED SPORT', 'Automatic / Cayman',
       'Automatic / TFSI Basic', 'Automatic / Veloce', 'Automatic / SLE',
       'Automatic / Boxster', 'Automatic / Trendline AWD',
       'Automatic / T8 Plug-in Hybrid AWD', 'Automatic / Cayman S',
       'Automatic / Cayman Style Edition', 'Automatic / XT',
       'Automatic / GTS', 'manual / Boxster Style Edition',
       'Automatic / Boxster S', 'Automatic / LTD HEV 4X4',
       'Automatic / LS AWD', 'Automatic / Overland', 'Automatic / LUXE',
       'Automatic / T5', 'Automatic / TFSI quattro Design',
       'Automatic / Sportback', 'Automatic / PREMIUM',
       'Automatic / S 200 PS', 'Automatic / PS AWD',
       'Automatic / S 250 PS', 'manual / Cayman GTS', 'Automatic / AT4',
       'Automatic / 530i M Sport', 'Automatic / Altitude',
       'A/T / AVANTGARDE', 'Automatic / Platinum Edition',
       'manual / Boxster GTS', 'Automatic / xDrive 30i',
       'Automatic / XLT AWD Full', 'Automatic / Rubicon',
       'Automatic / Base 250 PS', 'Automatic / LUXURY', 'A/T / AMG Coup√©',
       'manual / Spyder', 'Automatic / Limited', 'Automatic / E-Hybrid',
       'manual / Cayman GT4', 'Automatic / 90 SE P300',
       'Automatic / denali', 'Automatic / Sahara', 'Automatic / VX',
       'Automatic / Limited V6 Hybrid AWD', 'A/T / AMG Cabrio',
       'Automatic / sDrive30i', 'Automatic / R-Dynamic HSE',
       'Automatic / 450h F Sport', 'Automatic / Convertible',
       'Automatic / Rubicon X', 'Automatic / 4', 'Automatic / Carrera',
       'Automatic / DENALI', 'Automatic / TFSI CS quattro',
       'Automatic / TL', 'Automatic / Performance', 'Automatic / 4S',
       'Automatic / R-DYNAMIC', 'Automatic / 40i',
       'Automatic / Carrera 4', 'Automatic / Carrera T',
       'Automatic / Carrera Cabriolet', 'Automatic / 4 E-Hybrid',
       'Automatic / TSI Life', 'Automatic / Carrera 4 Cabriolet',
       'manual / Targa 4', 'Automatic / Carrera S',
       'Automatic / 4 E-Hybrid Executive', 'Automatic / GXR',
       'Automatic / Carrera 4S', 'Automatic / Carrera S Cabriolet',
       'Automatic / Carrera GTS', 'Automatic / Cayman GT4 RS',
       'Automatic / Carrera 4S Cabriolet', 'manual / Targa 4S',
       'Automatic / Carrera 4 GTS', 'Automatic v 6',
       'Automatic / GXR plus', 'Automatic / AT4 AWD',
       'Automatic / TFSI quattro Base',
       'Automatic / Carrera GTS Cabriolet', 'Automatic / Turbo',
       'Automatic / Carrera 4 GTS Cabriolet', 'Automatic / Targa 4 GTS',
       'Automatic V6 Modena', 'manual / GT3', 'manual / Turbo',
       'Automatic / Turbo Cabriolet', 'Automatic / Turbo S',
       'Automatic Gt', 'Automatic / XDrive40i',
       'Automatic / Series Gran Coupe', 'manual / Turbo S Cabriolet',
       'Automatic / SE 300 PS', 'Automatic / Prestige',
       'Automatic / Sport RWD', 'Automatic / HSE',
       'Automatic / GTS GranLusso', 'Automatic / Trofeo'], dtype=object)

In [12]:
dataset.describe()

         Property    Power   Price
count         366      366     366
unique        191       38     220
top     Automatic  2000 CC  45,000
freq           97       44       8

In [13]:
dataset.head()

    Property    Power   Price
0     Manual  1000 CC   6,900
1     manual   800 CC   8,250
2  Automatic  1000 CC  10,499
3  Automatic     0 CC  10,990
4  Automatic  1250 CC  11,500

In [14]:
dataset["Price"] = dataset["Price"].str.replace(",", "")

In [15]:
dataset.head()

    Property    Power  Price
0     Manual  1000 CC   6900
1     manual   800 CC   8250
2  Automatic  1000 CC  10499
3  Automatic     0 CC  10990
4  Automatic  1250 CC  11500

In [16]:
dataset["Power"] = dataset["Power"].str.replace(" CC", "")
dataset["Power"] = dataset["Power"].str.replace(" cc", "")
dataset["Power"] = dataset["Power"].str.replace(" Cc", "")
dataset["Power"] = dataset["Power"].str.replace(" cC", "")

In [17]:
dataset.head()

    Property Power  Price
0     Manual  1000   6900
1     manual   800   8250
2  Automatic  1000  10499
3  Automatic     0  10990
4  Automatic  1250  11500

In [18]:
dataset["Props"] = dataset["Property"].str.split().str[0]

In [19]:
dataset.head()

    Property Power  Price      Props
0     Manual  1000   6900     Manual
1     manual   800   8250     manual
2  Automatic  1000  10499  Automatic
3  Automatic     0  10990  Automatic
4  Automatic  1250  11500  Automatic

In [20]:
dataset.drop(["Property"], axis=1, inplace=True)

In [21]:
dataset.head()

  Power  Price      Props
0  1000   6900     Manual
1   800   8250     manual
2  1000  10499  Automatic
3     0  10990  Automatic
4  1250  11500  Automatic

In [22]:
dataset["Props"].nunique()

4

In [23]:
dataset["Props"] = dataset["Props"].str.lower()

In [24]:
dataset.head()

  Power  Price      Props
0  1000   6900     manual
1   800   8250     manual
2  1000  10499  automatic
3     0  10990  automatic
4  1250  11500  automatic

In [25]:
dataset["Power"].unique()

array(['1000', '800', '0', '1250', '1500', '1200', '1100', '1400',
       '1500\nTurbo', '1600', '1700', '1400\nTurbo', '2000',
       '2000\nTurbo', '2500', '1800', '2400', '1600\nTurbo',
       '2400\nTurbo', '2300\nTurbo', '3600', '3800', '3000',
       '2500\nTurbo', '3500', '2900', '4600', '4000', '4', '3300', '6200',
       '3000\nTurbo', '5300', '5600', '3400', '5700', '3500\nTurbo',
       '3800\nTurbo'], dtype=object)

In [26]:
dataset["Power"] = dataset["Power"].str.replace("\nTurbo", "")

In [27]:
dataset["Power"].unique()

array(['1000', '800', '0', '1250', '1500', '1200', '1100', '1400', '1600',
       '1700', '2000', '2500', '1800', '2400', '2300', '3600', '3800',
       '3000', '3500', '2900', '4600', '4000', '4', '3300', '6200',
       '5300', '5600', '3400', '5700'], dtype=object)

In [28]:
dataset["Power"] = pd.to_numeric(dataset["Power"])

In [29]:
dataset["Price"] = pd.to_numeric(dataset["Price"])

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Power   366 non-null    int64
 1   Price   366 non-null    int64
 2   Props   366 non-null    object
dtypes: int64(2), object(1)
memory usage: 8.7+ KB

In [31]:
dataset["Props"].unique()

array(['manual', 'automatic', 'a/t'], dtype=object)

In [32]:
dataset["Props"].nunique()

3

In [33]:
dataset["Props"].value_counts()

automatic    344
manual        19
a/t            3
Name: Props, dtype: int64

In [34]:
dataset["Props"] = dataset["Props"].str.replace("a/t", "automatic")

In [35]:
dataset.head()

   Power  Price      Props
0   1000   6900     manual
1    800   8250     manual
2   1000  10499  automatic
3      0  10990  automatic
4   1250  11500  automatic

In [36]:
dataset["price"] = dataset["Price"]
dataset.head()

   Power  Price      Props  price
0   1000   6900     manual   6900
1    800   8250     manual   8250
2   1000  10499  automatic  10499
3      0  10990  automatic  10990
4   1250  11500  automatic  11500

In [37]:
dataset.drop(["Price"], axis=1, inplace=True)

In [38]:
dataset.head()

   Power      Props  price
0   1000     manual   6900
1    800     manual   8250
2   1000  automatic  10499
3      0  automatic  10990
4   1250  automatic  11500

In [39]:
dataset["Props"] = dataset["Props"].str.replace("automatic", "0")
dataset["Props"] = dataset["Props"].str.replace("manual", "1")

In [40]:
dataset.head()

   Power Props  price
0   1000     1   6900
1    800     1   8250
2   1000     0  10499
3      0     0  10990
4   1250     0  11500

In [41]:
dataset["Props"] = pd.to_numeric(dataset["Props"])

In [42]:
dataset.head()

   Power  Props  price
0   1000      1   6900
1    800      1   8250
2   1000      0  10499
3      0      0  10990
4   1250      0  11500

In [43]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [44]:
X

     Power  Props
0     1000      1
1      800      1
2     1000      0
3        0      0
4     1250      0
..     ...    ...
361   3000      0
362   3800      0
363   3800      0
364   2500      0
365   6200      1

[366 rows x 2 columns]

In [45]:
y

0        6900
1        8250
2       10499
3       10990
4       11500
        ...
361    203350
362    210000
363    220000
364    239500
365    250000
Name: price, Length: 366, dtype: int64

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [47]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10)

In [48]:
y_pred = regressor.predict(X_test)

In [49]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2score = r2_score(y_test, y_pred)

In [50]:
print(f"Mean Squared Error is: {mse:.2f}")
print(f"Mean Absolute Error is: {mae:.2f}")
print(f"Root Mean Squared Error is: {rmse:.2f}")
print(f"R2 Score is: {r2score:.2f}")

Mean Squared Error is: 939883718.52
Mean Absolute Error is: 15852.40
Root Mean Squared Error is: 30657.52
R2 Score is: 0.36